<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <h3 id="h3"><%=Token%></h3>
        <label for="">New Password</label> <br>
        <input id="pass" type="password"><br>
     
        <button onclick="handlesubmit(event)" style="background: color(srgb red green blue);">Submit</button>
    </form>
    <script>
       const  handlesubmit = async(e)=>{
        e.preventDefault();
        let token = document.getElementById('h3').innerHTML
        console.log(token)
        let password = document.getElementById('pass').value
        let res = await fetch(`http://localhost:8080/users/update-password/:${token}`,{
            method : "POST",
            headers:{
                "content-type":"application/json"
            },
            body:JSON.stringify({password:password})
        });
        let data = await res.json();
        console.log(data)
       }

       

    </script>
    
</body>
</html>